h3 {
	margin: 12;
}
#mainDiv {
	display: flex;
	flex: 1;
	flex-direction: column;
}

#headerDiv {
	display: flex;
	background-color: #252525;
	height: 55px;
	width: 100%;
}

#mapDiv {
	background-color: blue;
	height: 600px;
	width: 800px;
	margin: 16px;
}

#statsDiv {
	border: 1px solid gray;
	height: 600px;
	margin-top: 16px;
	margin-bottom: 16px;
	margin-right: 16px;
	flex: 1;
	padding: 16;
}

#rowDiv {
	display: flex;
	flex-direction: row;
}

#downloadButton {
	height: 40;
	width: 80;
	margin: 16;
}

#downloadDiv {
	display: flex;
	background-color: #f7cece;
	height: 60px;
	width: 100%;
	align-items: center;
	margin: 16px;
}

#reloadDiv {
	background-color: #f7f7f7;
	height: 60px;
	width: 100%;
	margin: 16px;
}
